* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(0 139 125) 15%,
    rgb(212 214 207) 0%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* //-------------------------------------------------------// */
.main-box {
  width: 80%;
  height: 95%;
  display: flex;
}
/* //-------------------------------------------------------// */

/* //-------------------------------------------------------// */
/* BOX A SINISTRA */

.left-box {
  width: 40%;
  height: 100%;
  background-color: white;
  border-right: 0.5px solid grey;
  /* display: flex;
  flex-direction: column; */
}

.top-user-bar {
  width: 100%;
  height: 9%;
  background-color: rgb(234 234 234);
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.user span {
  font-weight: 500;
  padding-left: 10px;
}

.user-icon {
  display: flex;
  align-items: center;
}

.fa-solid {
  margin-right: 18px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.notification-alert {
  width: 100%;
  height: 10%;
  background-color: rgb(144 218 252);
  display: flex;

  align-items: center;
}

.fa-bell-slash {
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  color: rgb(144 218 252);
  background-color: white;
  margin-left: 10px;
}

.text-noti-up {
  font-weight: 500;
}

.text-noti-down {
  font-size: 13px;
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.search-bar {
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250 250 250);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 18%;
  border: 1px solid rgb(231, 230, 230);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
.text-search {
  width: 82%;
  border: 1px solid rgb(231, 230, 230);
  height: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.search-bar .fa-solid {
  margin-right: 0px !important;
}
.contact-box {
  height: calc(100% - 26%);
  overflow-y: scroll;
  cursor: pointer;
}

.user-chat {
  height: 80px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(231, 230, 230);
  position: relative;
}
.orario {
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  align-self: flex-start;
}
/* //-------------------------------------------------------// */
/* CLASSE active  */
.user-chat-active {
  background-color: rgb(211, 213, 213);
}
/* //-------------------------------------------------------// */
/* CLASSE hover  */
.user-chat:hover {
  background-color: rgb(223, 227, 227);
}

/* //-------------------------------------------------------// */
/* //-------------------------------------------------------// */
/* BOX A Destra */
.right-box {
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}

.conversation-box {
  max-width: 100%;
  height: 83%;
  overflow-y: scroll;

}

.message-box {
  height: calc(100% - 83% - 60px - 8px);
  background-color: rgb(243 238 234);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-msg-box {
  width: 80%;
  height: 60%;
  border-radius: 5px;
  border: none;
}

.fa-face-smile {
  font-size: 20px;
}

.message-box .fa-solid {
  margin-right: 0px !important;
}
.received {
  max-width: 80%;
  margin: 6px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  margin-left: 40px;
  float: left;
  clear: both;
  position: relative;
}

.sent {
  max-width: 80%;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  margin-right: 40px;
  float: right;
  background-color: rgb(204 245 175);
  clear: both;
  text-align: start;
  position: relative;
}

.sent-chevron{
  position: absolute;
  top: 0;
  right: 4px;
  display: none;
}

.sent-chevron .fa-solid{
  margin-right: 0!important;
  font-size: 15px;
  cursor: pointer;
}

.received:hover .sent-chevron{
  display: block;
}
.sent:hover .sent-chevron{
  display: block;
}

.menu-mex{
  position: absolute;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  font-family: var(--bs-font-sans-serif);
  font-weight: normal;
  width: 150px;
  z-index: 10;
}