<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main class="main-box" id="main">
      <div class="left-box">
        <div class="top-user-bar">
          <div class="user">
            <img src="img/avatar_io.jpg" alt="mio-avatar" />
            <span>Sofia</span>
          </div>
          <div class="user-icon me-2">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="notification-alert">
          <div><i class="fa-solid fa-bell-slash"></i></div>
          <div class="notification-text-box">
            <div class="text-noti-up">Ricevi notifice di nuovi messaggi</div>
            <div class="text-noti-down">Attiva notiche desktop</div>
          </div>
        </div>
        <div class="search-bar">
          <button class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input
            type="text"
            class="text-search"
            placeholder="Cerca o inizia una nuova chat"
            v-model="ricercaUtente"
            @keyup="userSearch()"
          />
        </div>
        <div class="contact-box">
          <!-- card static -->
          <div v-for="(item, index) in contatti">
            <div
              v-if="item.visible"
              class="user-chat"
              :class="{'user-chat-active' : activeContactIndex === index}"
              @click="currentContact(index)"
            >
              <div class="user">
                <!-- <img src="img/avatar_1.jpg" > -->
                <img :src='"img/avatar" + item.avatar + ".jpg"' alt="" />
                <div class="ms-3">
                  <div class="contact-name">{{item.name}}</div>
                  <div class="contact-message-send">
                    {{item.messages[0].message}}
                  </div>
                </div>
                <div class="orario">{{item.messages[0].date}}</div>
              </div>
            </div>
          </div>
          <!-- // fine card static -->
        </div>
      </div>
      <div class="right-box">
        <div class="top-user-bar">
          <div class="user">
            <img
              :src='"img/avatar" + contatti[activeContactIndex].avatar + ".jpg"'
              alt="mio-avatar"
            />
            <span>{{contatti[activeContactIndex].name}}</span>
          </div>
          <div class="user-icon me-2">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="conversation-box">
          <div
            v-for="(item, index) in contatti[activeContactIndex].messages"
            :class="item.status === 'sent' ? 'sent' : 'received'"
          >
            {{item.message}}
            <div class="sent-chevron">
              <i class="fa-solid fa-chevron-down">
                <div class="menu-mex">
                  <div class="mb-4">Info messaggio</div>
                  <div @click="deleteMex(index)">Elimina messaggio</div>
                </div>
              </i>
            </div>
          </div>
        </div>
        <div class="message-box">
          <i class="fa-regular fa-face-smile"></i>
          <input
            class="my-msg-box"
            type="text"
            placeholder=" Scrivi un messaggio"
            v-model="newMex"
            @keyup.enter="sendMessage"
          />
          <i class="fa-solid fa-microphone"></i>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
    <script src="js/fileScript.js"></script>
  </body>
</html>
